@model ASP.NET_MVC_PROJECT.Models.classmodel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>classmodel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.class_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_strength)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.class_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
